@font-face {
  font-family: "Norse Bold";
  src: url("./Norse-Bold.otf");
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 1rem;
  
}

div{
    display: flex;
    flex-direction: column;
}
h1 {
  font-family: "Norse bold";
  font-size: 4rem;
}
div p {
  font-weight: bold;
}
fieldset {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
form {
  padding: 1rem;
}
input{
    border: 1px solid black;
    border-radius: 4px;
}



