@font-face {
  font-family: "Norse Bold";
  src: url("./Norse-Bold.otf");
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 1rem;
}

div {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Norse bold";
  font-size: 4rem;
}
div p {
  font-weight: bold;
}
/* _________________________________________________ */
fieldset {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
form {
  display: flex;
  gap: 10rem;
  padding: 1rem;
font-size: 10px;
}
input {
  border: 1px solid black;
  border-radius: 4px;
}

#left_side {
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
gap: 0.5rem;
}

#right_side {
  justify-content: flex-end;
  align-items: flex-end;
  display: inline-flex;
  gap: 0.5rem;
}
